[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
salt = "*"
requests = "*"
flake8 = "*"
bandit = "*"
black = "==19.3b0"

[packages]
fabric = "*"
invoke = "*"
patchwork = "*"
