{% set host = salt['grains.get']('host') %}

{% set tokens = {
    'salt': salt['pillar.get']('consul:salt_acl_token', false),
    'agent': salt['pillar.get']('consul:config:acl:tokens:agent', false),
    'bootstrap': salt['pillar.get']('consul:config:acl:tokens:master', false),
} %}

{% set managed_policies = salt['pillar.get']('salt:policies', {}) %}
{% set managed_tokens = salt['pillar.get']('salt:tokens', {}) %}

{% set version = salt['pillar.get']('consul:version') %}
{% set config = salt['pillar.get']('consul:config') %}
{% set services = salt['pillar.get']('consul:services', {}) %}
{% set checks = salt['pillar.get']('consul:checks', {}) %}
